<div id="build_file_<%= g.index -%>_fields">
  <div class="row form-group">
    <div class="col-fluid">
      <div class="row">
        <div class="col-sm-6">
          <%= g.file_field :file, class: 'form-control' %>
        </div>

        <div class="col-sm-6">
          <%= g.select :rule_set_id, options_from_collection_for_select(RuleSet.all, :id, :name, selected: g.object.rule_set_id),
                       {prompt: true}, class: 'form-control' %>
        </div>
      </div>
    </div>

    <div class="col-fixed">
      <div class="row">
        <div class="col-xs-12">
          <%= g.hidden_field :position %>

          <div class="btn-group pull-right">
            <% d = g.index > 0 %>
            <%= link_to icon(d ? :arrow_up : :ban, style: 'width: 13px'), build_file_move_up_path(g.object), title: 'Move up',
                  class: "btn btn-default#{' disabled' unless d}" %>

            <% d = g.index < @build.build_files.count - 1 %>
            <%= link_to icon(d ? :arrow_down : :ban, style: 'width: 13px'), build_file_move_down_path(g.object), title: 'Move down',
                  class: "btn btn-default#{' disabled' unless d}" %>

            <%= link_to icon(:trash_o), build_file_path(g.object), class: 'btn btn-default', title: 'Delete',
                  method: :delete, confirm: 'Are you sure you want to remove this file from the build?' %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
