<tr>
  <td style="max-width: 18px">
    <%= link_to icon(:search), 'ToDo', class: 'btn btn-default', title: 'Expand' %>
  </td>
  <td><%= link_to_name build %></td>
  <td><%= build.updated_at.getlocal %></td>
  <td><%= build.table.count %></td>
  <td><%= build.table.headers.count %></td>
  <td><%= build.build_files.count %></td>
  <td style="max-width: 43px">
    <%= link_to icon(:download), build_download_path(build), class: 'btn btn-default', title: 'Download' %>
    <%= link_to icon(:pencil),   build, class: 'btn btn-default', title: 'Edit'     %>
    <%= link_to icon(:trash_o),  build, method: :delete, confirm: 'Are you sure you want to delete this build?',
          class: 'btn btn-default', title: 'Delete'   %>
  </td>
</tr>
<tr>
  <td colspan="9">
    <%= csv_to_html(build.table) %>
  </td>
</tr>
