<%= link_to "#{icon :arrow_left} Back to Builds".html_safe, builds_path %>
<div class="row">&nbsp;</div>

<%= form_for @build do |f| %>
  <%= f.hidden_field :id %>

  <div class="row form-group">
    <div class="col-xs-12">
      <%= f.text_field :name, class: 'form-control', placeholder: 'Enter build name' %>
    </div>
  </div>
  <div class="row" id="field-headers"<%= ' style=display:none;' unless @build.input_files.any? %>>
    <div class="col-fluid">
      <div class="row">
        <div class="col-xs-6">
          <span class="label label-default">File</span>
        </div>
        <div class="col-xs-6">
          <span class="label label-default">Rule Set</span>
        </div>
      </div>
    </div>
  </div>

  <%= f.fields_for :input_files do |bf| %>
    <%= render 'input_file_fields', f: bf %>
  <% end %>

  <div id="cp-add-input-file">
    <%= link_to_add_association "#{icon :upload} Add file".html_safe, f, :input_files, class: 'btn btn-default' %>

    <div class="btn-group pull-right form-group">
      <%= f.submit "Save", class: 'btn btn-primary' %>
      <%= link_to("#{icon :download} Download".html_safe, build_download_path(@build), class: 'btn btn-default') if @build.id %>
    </div>
  </div>
<% end %>
