<%= link_to "#{icon :arrow_left} Back to Builds".html_safe, builds_path %>
<div class="row">&nbsp;</div>

<%= form_for @build do |f| %>
  <div class="row form-group">
    <div class="col-xs-12">
      <%= f.text_field :name, class: 'form-control', placeholder: 'Enter build name' %>
    </div>
  </div>
  <div class="row">
    <% if @build.build_files.any? %>
      <div class="col-fluid">
        <div class="row">
          <div class="col-xs-6">
            <span class="label label-default">File</span>
          </div>
          <div class="col-xs-6">
            <span class="label label-default">Rule Set</span>
          </div>
        </div>
      </div>
    <% else %>
      &nbsp;
    <% end %>
  </div>

  <%= f.fields_for :build_files do |bf| %>
    <%= render 'build_file_fields', f: bf %>
  <% end %>

  <div id="cp-add-build-file">
    <%= link_to_add_association "#{icon :upload} Add file".html_safe, f, :build_files, class: 'btn btn-default' %>

    <div class="btn-group pull-right form-group">
      <%= link_to "#{icon :search} Preview".html_safe, '#', data: {url: build_preview_path(@build)}, class: 'btn btn-default', id: 'cp-preview-build' %>
      <%= f.submit "Save", class: 'btn btn-primary' %>
    </div>
  </div>
<% end %>
